---
// Utils
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

// Data
import profile5 from "@assets/images/testimonials/profile5.png";
import profile4 from "@assets/images/testimonials/profile-4.png";
---

<section id="reviews">
	<div class="cs-container">
		<span class="cs-topper">Our Reviews</span>
		<h2 class="cs-title">Words From Our Customers</h2>
		<p class="cs-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
		</p>
		<ul class="cs-card-group">
			<!-- Review 1 -->
			<li class="cs-item">
				<Image src={profile5} class="cs-item-img" alt="Jon Doe" width="80" height="80" />
				<p class="cs-item-p">
					Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci
					imperdiet eget eget.
				</p>
				<span class="cs-reviewer">
					Jon Doe
					<span class="cs-desc">Homeowner</span>
				</span>
				<Icon name="stars-yellow" class="cs-item-stars" />
			</li>
			<!-- Review 2 -->
			<li class="cs-item">
				<Image src={profile4} class="cs-item-img" alt="Jon Doe" width="80" height="80" />

				<p class="cs-item-p">
					Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci
					imperdiet eget eget.
				</p>
				<span class="cs-reviewer">
					Jane Doe
					<span class="cs-desc">Homeowner</span>
				</span>
				<Icon name="stars-yellow" class="cs-item-stars" />
			</li>
		</ul>
		<a aria-label="read more reviews" href="/reviews/" class="cs-button-solid">Our Reviews</a>
	</div>
</section>

<style lang="less">
	/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

	/* Mobile - 360px */
	@media only screen and (min-width: 0em) {
		#reviews {
			/* Centers the button */
			text-align: center;
			padding: var(--sectionPadding);

			.cs-container {
				width: 100%;
				max-width: (1104/16rem);
				margin: auto;
			}

			.cs-topper {
				text-align: center;
				margin-bottom: (16/16rem);
			}

			.cs-title {
				text-align: center;
				max-width: (700/16rem);
			}

			.cs-text {
				text-align: center;
				max-width: (650/16rem);
				/* 88px - 104px */
				margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
			}

			.cs-card-group {
				/* 48px - 64px */
				margin: 0 auto clamp(3rem, 5vw, 4rem);
				padding: 0;
			}

			.cs-item {
				text-align: left;
				list-style: none;
				width: 100%;
				max-width: (542/16rem);
				margin: 0 auto (64/16rem);
				/* Prevents padding from affecting height & width */
				box-sizing: border-box;
				/* Padding L & R - 16px - 32px */
				padding: (60/16rem) clamp(1rem, 3.2vw, 2rem) 0;
				/* 32px - 40px */
				padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
				background: #fff;
				box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
				border-radius: (4/16rem);
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				position: relative;

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			.cs-item-img {
				width: (80/16rem);
				height: (80/16rem);
				position: absolute;
				top: (-40/16rem);
			}

			.cs-item-p {
				font-size: (16/16rem);
				line-height: 1.5em;
				margin: 0 0 (20/16rem);
				padding-bottom: (20/16rem);
				color: var(--bodyTextColor);
				border-bottom: 1px solid #e8e9ec;
			}

			.cs-reviewer {
				font-size: (16/16rem);
				font-weight: 700;
				line-height: 1.5em;
				width: 40%;
				margin: 0 auto 0 0;
				color: var(--headerColor);
				display: block;
			}

			.cs-desc {
				font-size: (14/16rem);
				font-weight: 400;
				color: var(#353535);
				display: block;
			}

			.cs-item-stars {
				width: (96/16rem);
				height: (16/16rem);
			}
		}
	}

	/* Tablet - 768px */
	@media only screen and (min-width: 48em) {
		#reviews {
			.cs-card-group {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: (16/16rem);
			}

			.cs-item {
				/* reset margin so it won't interfere with flexbox */
				margin: 0;
			}
		}
	}

	/* Dark Mode */
	@media only screen and (min-width: 0em) {
		body.dark-mode {
			#reviews {
				.cs-title,
				.cs-text,
				.cs-item-p,
				.cs-reviewer {
					color: var(--bodyTextColorWhite);
				}

				.cs-item {
					background: var(--medium);
				}

				.cs-desc {
					color: var(--primaryLight);
				}
			}
		}
	}
</style>
